<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{ "StudentList" | translate }}</h4>
            <a
              *ngIf="checkClaim('CreateStudentCommand')"
              class="pull-right"
              data-toggle="modal"
              data-target="#student"
            >
              <i
                style="color: white"
                title="{{ 'Add' | translate }}"
                class="far fa-plus-square fa-2x"
              ></i
            ></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>{{ "Filter" | translate }}</mat-label>
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder=""
                    #input
                  />
                </mat-form-field>
              </div>

              <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "Id" | translate }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    (click)="openDetailModal(element)"
                  >
                    {{ element.id }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "Name" | translate }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    (click)="openDetailModal(element)"
                  >
                    {{ element.name + " " + element.surname }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="number">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "Number" | translate }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    (click)="openDetailModal(element)"
                  >
                    {{ element.number }}
                    <a
                      data-toggle="modal"
                      data-target="#student"
                      (click)="getStudentById(element.id)"
                    ></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="birthDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Doğum Tarihi
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.birthDate | date: "dd.MM.yyyy" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="gender">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    {{ "Gender" | translate }}
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.gender ? "Erkek" : "Kadın" }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="update">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px" mat-cell *matCellDef="let element">
                    <a
                      *ngIf="checkClaim('UpdateStudentCommand')"
                      data-toggle="modal"
                      data-target="#student"
                      (click)="getStudentById(element.id)"
                    >
                      <i
                        title="{{ 'Update' | translate }}"
                        style="color: #ff5722"
                        class="far fa-edit"
                      ></i
                    ></a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px" mat-cell *matCellDef="let element">
                    <a
                      *ngIf="checkClaim('DeleteStudentCommand')"
                      (confirm)="deleteStudent(element.id)"
                      [swal]="deleteSwal"
                      ><i
                        title="{{ 'Delete' | translate }}"
                        style="color: #d9534e"
                        class="fas fa-trash-alt"
                      ></i
                    ></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center">
                  <td class="mat-cell" colspan="4">
                    {{ "NoRecordsFound" | translate }} "{{ input.value }}"
                  </td>
                </tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[10, 25, 50, 100]"
              ></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal modal-angular fade"
  id="student"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="clearFormGroup(studentAddForm)"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="margin-top">
          {{ "StudentForm" | translate }}
        </h4>
        <div class="separator"></div>
        <form
          *ngIf="studentAddForm"
          [formGroup]="studentAddForm"
          (ngSubmit)="save()"
        >
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{ 'Name' | translate }}"
                  type="text"
                  id="name"
                  name="name"
                  formControlName="name"
                />
                <div
                  *ngIf="
                    studentAddForm.get('name').invalid &&
                    studentAddForm.get('name').errors &&
                    (studentAddForm.get('name').dirty ||
                      studentAddForm.get('name').touched)
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="studentAddForm.get('name').hasError('required')"
                  >
                    Boş bırakılmamalıdır.
                  </small>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{ 'Surname' | translate }}"
                  type="text"
                  id="surname"
                  name="surname"
                  formControlName="surname"
                />
                <div
                  *ngIf="
                    studentAddForm.get('surname').invalid &&
                    studentAddForm.get('surname').errors &&
                    (studentAddForm.get('surname').dirty ||
                      studentAddForm.get('surname').touched)
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="studentAddForm.get('surname').hasError('required')"
                  >
                    Boş bırakılmamalıdır.
                  </small>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="{{ 'Number' | translate }}"
                  type="text"
                  id="number"
                  name="number"
                  formControlName="number"
                />
                <div
                  *ngIf="
                    studentAddForm.get('number').invalid &&
                    studentAddForm.get('number').errors &&
                    (studentAddForm.get('number').dirty ||
                      studentAddForm.get('number').touched)
                  "
                >
                  <small
                    class="text-danger"
                    *ngIf="studentAddForm.get('number').hasError('required')"
                  >
                    Boş bırakılmamalıdır.
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="studentAddForm.get('number').hasError('pattern')"
                  >
                    Yalnızca rakamlardan oluşmalıdır.
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="studentAddForm.get('number').hasError('minlength')"
                  >
                    Numara alanı 10 karakter olmalıdır.
                  </small>
                  <small
                    class="text-danger"
                    *ngIf="studentAddForm.get('number').hasError('maxlength')"
                  >
                    Numara alanı 10 karakter olmalıdır.
                  </small>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input
                  matInput
                  placeholder="Doğum Tarihi"
                  type="date"
                  id="birthDate"
                  name="birthDate"
                  formControlName="birthDate"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="example-full-width">
                <mat-label>Cinsiyet</mat-label>
                <mat-select name="gender" formControlName="gender">
                  <mat-option [value]="true">
                    {{ "Erkek" }}
                  </mat-option>
                  <mat-option [value]="false">
                    {{ "Kadın" }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <button
            mat-raised-button
            type="submit"
            class="btn btn-danger pull-right"
            [disabled]="studentAddForm.invalid"
          >
            {{ "Save" | translate }}
          </button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal
  #deleteSwal
  title="{{ 'DeleteConfirm' | translate }}"
  icon="error"
  [showCancelButton]="true"
  [confirmButtonText]="'OK'"
  [cancelButtonText]="'Cancel'"
>
</swal>
